<div class="container">

  <div class="header">
    <div class="hero-unit">
      <h1>Login to your account</h1><br />
      <p>welcome to my page</p>
    </div>
  </div>

  <div class="row">

    <div class="span6">


      <%= form_for @account, :url => {:action => 'login'}, :html => { :class => 'form-horizontal'} do |f| %>

        <% if @account.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

            <ul>
              <% @account.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <p id="notice"><%= notice %></p>


        <div class="control-group">
          <label class="control-label" for="createEmail">email</label>
          <div class="controls">
            <%= f.text_field(:email, {:class => 'span3', :placeholder => "email"}) %>  
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="createEmail">password</label>
          <div class="controls">
            <%= f.password_field(:password, {:class => 'span3', :placeholder => "password"}) %>
          </div>
        </div>
        <div class="control-group">

          <label class="control-label"></label>
          <div class="controls">

            <%= f.submit "Login", :class => 'btn' %>
          </div>
        </div> 
      <% end %>
    </div>

    <div class="span6">
      <%= link_to 'New Account', new_account_path %>
    </div>

  </div>

</div>


