<p id="notice"><%= notice %></p>


<%= link_to 'Delete', account_path(@account), :method => :delete %> |
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Logout', :action => 'logout' %>
